.xword {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.xword__grid {
  grid-column: 1 / 2;
}

.xword__row {
  display: flex;
  align-items: center;
}

.xword__clues {
  grid-column: 2 / 2;
}

.clue {
  cursor: pointer;
}

.clue:hover {
  background-color: #a1ceb9;
}

.selected-clue {
  background-color: #dcefff;
}
